@page
@using FoodSelling.CustomerSite.Pages
<div class="container bg-about" style="padding: 0px 50px">
    <div class="about-logo">
        <img src="~/img/Logo.png" alt="">
    </div>
    <div class="about">
        <h3 class="about-title">
            Về chúng tôi
        </h3>
        <p class="about-content">
<strong>Vào năm 2003</strong>, một chuyến đi du lịch cùng những người bạn, chúng mình đã có ý tưởng và đam mê cùng lá trà cũng như trái cây tươi ngon. <br/> <br/>

Cửa hàng đầu tiên được mở tại 371 Nguyễn Kiệm, Phường 3, Quận Gò Vấp, TP. HCM. Chúng mình có những người bạn tại Đại học Mở TP. HCM phục vụ các loại trà trái cây nguyên chất. <br/> <br/>

<strong>Sau 7 năm</strong> thành lập, ITea đã mở thêm 3 cửa hàng trong thành phố và có thêm cà phê cùng các loại bánh. ITea hoạt động theo mô hình tự phục vụ với không gian mở.  <br/> <br/>

<strong>Năm 2013</strong>, kỉ niệm 10 năm thành lập ITea chính thức thành lập thêm 2 chi nhánh tại TP Vũng Tàu - địa điểm du lịch hấp dẫn khách du lịch trong và ngoài nước.  <br/> <br/>

<strong>Kỷ niệm 20 năm</strong> thành lập, vào năm 2023, ITea đã cán mốc 6 cửa hàng và có doanh thu tăng trưởng vượt bậc.  <br/> <br/>

ITea ấp ủ đam mê từ những năm 2003, bắt đầu từ tình yêu lá trà cùng những ly nước trái cây nguyên chất, chúng mình đã tạo nên thương hiệu độc quyền về chất lượng sản phẩm. 
Ngay từ những ngày đầu thành lập, chúng mình rất khó khăn trong việc huy động vốn cùng những sản phẩm của ITea.  <br/> <br/>

Ngày hôm nay, ITea đã phát triển và luôn mong muốn mang đến cho các bạn sản phẩm tuyệt vời nhất từ những lá trà nguyên chất tạo nên vị ngon đặc trưng riêng về ITea. <br/> <br/>

Trong tương lai, chúng mình cùng nhau xây dựng thương hiệu đặc trưng theo cách riêng của ITea. ITea không ngừng phát triển và cải tiến, một không gian mở cùng mọi người chia sẻ và nhau kết nối. ITea luôn bên bạn và sát cánh cùng bạn. <br/> <br/>
        </p>
    </div>
    <div class="vision">
        <h3 class="vision-title">
            Tầm nhìn
        </h3>
        <p class="vision-content">
Phấn đấu trở thành chuỗi thương hiệu ITea độc quyền nhất.
        </p>
    </div>
    <div class="mission">
        <h3 class="mission-title">
            Sứ mệnh
        </h3>
        <p class="mission-content">
<strong>1. </strong> Ấp ủ đam mê đem thương hiệu phát triển đi đầu trong ngành giải khát. <br/>
<strong>2. </strong>Tạo nên không gian mở mang đặc trưng riêng.  <br/>
<strong>3. </strong> Mang đến khách hàng dịch vụ tốt nhất.
        </p>
    </div>
</div>