@page
@using FoodSelling.CustomerSite.Pages
@model IndexModel
@{
    <div class="img-intro">
        <img src="~/img/Intro.png" alt="">
    </div>
    <div class="container">
        <div class="row mockup">
            <div class="col img-mockup">
                <img src="~/img/Mockup3.png" alt="">
            </div>
            <div class="col">
                Content
            </div>
        </div>
         <div class="row mockup">
            <div class="col">
                Content
            </div>
            <div class="col img-mockup">
                <img src="~/img/Mockup2.png" alt="">
            </div>
        </div>
    </div>

}
