.navbar-brand > img {
    width: 48px;
}
.navbar-nav > .dropdown:hover > .position-relative > .dropdown-menu,
.navbar-nav
  .position-relative
  .dropdown:hover
  > .position-relative
  > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.dropdown:hover > .position-relative > .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.auth{
  position: absolute;
  right: 80px;
}

.login-btn {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
.login-btn:hover {
color: #0c713d;
}