@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userName = HttpContextAccessor.HttpContext?.Session.GetString("UserName");
    var countItem = HttpContextAccessor.HttpContext?.Session.GetString("CountCart");
}
<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top p-0 px-4 px-lg-0 flex-column vw-100">
    <div class="header-top d-flex justify-content-around align-items-center pt-1 vw-100 p-0">
        <img class="delivery-logo" src="https://phuclong.com.vn/images/common/delivery.png" alt="">
        <a asp-page="/Index">
        <img class="shop-logo" src="~/img/Logo.png" />
        </a>
        <div class="header-right d-flex align-items-center">
            @if (userName == null)
            {
               <div class="auth">
                    <a class="login-btn p-2" asp-page="/Auth/Login">Đăng nhập</a>
                </div>
            }
            else{
                <div class="auth nav-item dropdown">
                    <a class="login-btn p-2 nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-displa="static">Hi @userName</a>
                    <div class="position-relative">
                        <div class="dropdown-menu shadow-sm m-0">
                            <a asp-page="/Auth/Login" asp-page-handler="Logout" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            }
        <div class="cart-btn p-2 px-3">
            <a asp-page="/Cart/ShoppingCart">
                <span>Giỏ hàng
                    <i class="fas fa-shopping-cart"></i>
                    @{
                        if(countItem == null)
                        {
                            <span class="count-total-cart">0</span>
                        }
                        else
                        {
                            <span class="count-total-cart">@countItem</span>
                        }
                    }
                </span>
            </a>
        </div>
        </div>
    </div>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarCollapse">
        <div class="navbar-nav">
            <a asp-page="/Index" class="nav-item nav-link active">Trang chủ</a>
            @await Component.InvokeAsync("Category")
            <a asp-page="/About" class="nav-item nav-link">Về chúng tôi</a>
            <div class="">
                <form class="search-box" role="search" method="get">
                    <input class="search-txt" type="text" name="searchString" placeholder="Nhập để tìm kiếm..." required>
                    <button type="submit" class="search-btn" asp-page="/Product/SearchProduct" >
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                </div>
        </div>
    </div>
</nav>